<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>RainbowRaptors</title>
  <% if ENV['COMPILED'] == 'true' %>
    <link rel="stylesheet" href="<%= asset_path :build, 'main.css' %>" />
    <!--[if lte IE 8]> <link rel="stylesheet" href="<%= asset_path :build, 'main.ie.css' %>" /><![endif]-->
  <% else %>
    <%= stylesheet_link_tag 'main' %>
    <!--[if lte IE 8]> <%= stylesheet_link_tag 'main.ie' %> <![endif]-->
  <% end %>
  <%= javascript_include_tag 'vendor/custom.modernizr' %>
</head>

<body>
<%= partial 'shared/nav' %>
<div class="row main">
<%= yield %>
</div>

<% if content_for? :js_controller %>
<script>
  var require = { config: { app: {
    controller: "<%= yield_content(:js_controller).try(:strip) %>",
  }}};
</script>
<% end %>
<% if ENV['COMPILED'] == 'true' %>
    <script src="<%= asset_path :build, 'app.js' %>"></script>
<% else %>
  <%= javascript_include_tag %w(vendor/require config) %>
  <script>
    require.config({
      baseUrl: 'javascripts/',
      waitSeconds: 120
    });
    require(['main']);
  </script>
<% end %>
</body>
</html>
